<div class="footer">
    <div class="container">
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/about">ABOUT US</a>
            </li>
            <li>
                <a href="contact">CONTACT</a>
            </li>
        </ul>
        <div class="copyright">
            <p>Designed with all the love in the world by Zenky.</p>
            <p>Copyright © 2020 Zenky's Blog. All rights reserved.</p>
        </div>
    </div>
</div>