<div class="about mt-5">
    <h1>ABOUT ME </h1>
    <h2>Zenky là ai? Giới thiệu về bản thân mình!</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate fugit exercitationem recusandae sed libero
        animi, obcaecati hic ipsam voluptatem? Officia consectetur temporibus iste cumque ex possimus repudiandae
        inventore molestiae illum.</p>
    <h3>Blogger</h3>
    <p>ược tôi tạo ra vào năm 2011 với mục đích ban đầu là nơi để tôi copy, lưu trữ những bài viết hay từ nơi khác về để
        đọc
        lại. Đó lẽ ra phải là công việc của bookmark, nhưng cơ bản là tôi muốn chia sẻ để mọi người cùng đọc. Hồi đó tôi
        chưa có
        dùng Facebook.
        Sau này có tham gia một số diễn đàn hacking nên bắt đầu tập tành viết Tutorial, dần dần thành thói quen nên tự
        viết bài
        cho blog nhiều hơn và cứ thế phát triển cho tới bây giờ.</p>
    <h3>Full Stack Developer</h3>
    Tôi bắt đầu đến với lập trình cách đây 5, 6 năm. Đó là thời điểm mà các diễn đàn phát triển trên nền tảng vBulletin
    (vBB) vẫn còn đang hoạt động mạnh mẽ. Mọi người thường tham gia thảo luận, chia sẻ, tán gẫu thông qua chatbox trên
    các
    diễn đàn chứ không phải qua Facebook như bây giờ.

    Ngày ấy, tôi đã quyết định học ngôn ngữ lập trình PHP đầu tiên để có thể tự viết được mod, add-on cho một diễn đàn
    vBB
    mà tôi đang làm quản trị viên. Hiện tại thì diễn đàn này vẫn đang hoạt động nhưng đã chuyển sang sử dụng nền tảng
    Xenforo.

    Cũng nhờ có bước đệm PHP, tôi đã nắm được tư duy lập trình để có thể tiếp cận nhanh chóng nhiều ngôn ngữ lập trình
    khác
    sau này. Ở thời điểm hiện tại, dù không theo học bất cứ một trường ĐH CNTT nào, tôi vẫn có thể tự tin viết từ ứng
    dụng
    web, ứng dụng Desktop cho tới phần mở rộng cho trình duyệt bằng cách kết hợp rất nhiều ngôn ngữ lập trình với nhau,
    những ngôn ngữ mà tôi hoàn toàn tự học.
    <h3>Cantaka suabata</h3>
    <p>Gỡ lỗi (Debugging) là một trong những điều kinh khủng, khó ưa nhất trong phát triển phần mềm, nhưng điều ngang
        trái thay
        nó lại là một trong những thứ quan trọng bậc nhất trong vòng đời phát triển phần mềm. Chắc chắn trong giai đoạn
        phát
        triển, mọi lập trình viên đều phải tự debug mã của mình, điều này là không thể tránh khỏi.

        Có rất nhiều cách để debug một ứng dụng viết ra. Một phương pháp được sử dụng rất phổ biến đó là sử dụng câu
        lệnh
        “print” trong các trường hợp để xem nó chạy như thế nào trong khi thực thi chương trình. Tuy nhiên, phương pháp
        này xảy
        ra nhiều vấn đề, chẳng hạn như việc muốn in được các giá trị của biến thì phải thêm code vào, v.v.. => Quá phức
        tạp. Hơn
        nữa cách này chỉ dùng tạm bợ cho những chương trình nhỏ, tầm trăm dòng code trở lại thì ok, khi mà sang một
        chương trình
        lớn hơn, có nhiều file hơn, thì nó lại là một vấn đề lớn lớn lớn.

        Vậy thì, chúng ta đã có trình gỡ lỗi để giải quyết vấn đề đó cho. Nó giúp chúng ta tìm các lỗi trong một ứng
        dụng bằng
        các lệnh bên ngoài, do đó không có thay đổi nào đối với code. Như đã đề cập ở trên, mình muốn giới thiệu các bạn
        module
        PDB - một module tích hợp bên trong python (không cần phải cài đặt từ nguồn bên ngoài), thông qua bài viết “Có
        PDB,
        debug python không còn khó khăn”.</p>
</div>